<html>

<head>
   <title>{% block title %}{% endblock %} Traction Management System</title>
</head>

<body>
{% include "tractionms/_partials/masthead.twig" %}
{% block content %}{% endblock %}
</body>
</html>